/*
.*
*.aps
!/data/
!/html/
!/res/
!/src/
!/.clang-format
!/.editorconfig
!/.gitattributes
!/.gitignore
!/CMakeLists.txt
!/CMakeSettings.json
!/license.txt
!/make.cmd
!/makefile
!/package.json
!/readme.md
!/server.ini
