/*
.*
*.aps
!/data/
!/res/
!/src/
!/.clang-format
!/.editorconfig
!/.gitattributes
!/.gitignore
!/CMakeLists.txt
!/favicon.ico
!/index.html
!/index.js
!/license.txt
!/make.cmd
!/makefile
!/package.json
!/package-lock.json
!/readme.md
!/server.ini
